/* Importar fuente Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #ffffff;
  color: #3d0868;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000000;
}

.card {
  border-radius: 0.75rem;
}
.head-footer {
  background-color: #4d087a;
}
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}